<h1>Login Success</h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
<a href="/register" class="btn btn-primary">Register</a>
<a href="/login" class="btn btn-primary">Login</a>